.button 
{
    background: url("../img/send.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    height: 25px;
    width: 25px;
}
#refresh
{
    width: 24px;
    height: 24px;
    margin-bottom: -8px;
    cursor: pointer;
}
.user
{
    color: #ff0000;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}
